* {
    text-decoration: none;
}

.text-wrapper {
    margin-top: 5%;
    margin-left: 5%;
}

.text-wrapper p {
    color: #ffffff;
    font-family: 'Roboto Mono', monospace;
}

.icon-wrapper {
    background-color: white;
    border-radius: 10px;
    height: 2.5em;
    width: 2.5em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-wrapper i {
    font-size: 2em;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

.fa-github {
    color: #1c1c1c;
}